# IDE
.idea/
.vscode/

# make
bin/

# goreleaser
dist/

# macOS
.DS_Store

# concourse/mock-resource
rootfs/
privileged
version

# mkdocs
site/
gh-pages/

# dagger
/dagger.gen.go
/internal/dagger
/internal/querybuilder
/internal/telemetry
/.env
