name: Build Shims
on: workflow_dispatch
permissions:
  contents: write
  pull-requests: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: frantjc/actions/setup-tool@v1
        with:
          repository: dagger/dagger
          version: v0.19.8
      - run: dagger call -y build-shims
      - uses: peter-evans/create-pull-request@v8
        with:
          add-paths: |
            internal/bin/shim_*
          reviewers: |
            ${{ github.actor }}
          title: |
            Bump internal/bin/shim_*
          commit-message: |
            Update internal/bin/shim_* built by GitHub Actions workflow "${{ github.workflow }}" for user ${{ github.actor }} from commit ${{ github.sha }}.
          body: |
            Update [internal/bin/shim_*](internal/bin) built by [GitHub Actions workflow "${{ github.workflow }}"](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}) for user ${{ github.actor }} from commit ${{ github.sha }}.
          branch: github-actions/gen/internal/bin
          delete-branch: true
          labels: go
