name: CI
on:
  workflow_dispatch: {}
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  contents: read
jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: frantjc/actions/setup-tool@v1
        with:
          repository: dagger/dagger
          version: v0.19.9
      - run: dagger check
  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: frantjc/actions/setup-tool@v1
        with:
          repository: dagger/dagger
          version: v0.19.9
      - name: Run make forge
        run: make LOCALBIN=$RUNNER_TEMP
      - name: Set path
        run: echo $RUNNER_TEMP >> $GITHUB_PATH
      - name: Test forge.sock
        run: |
          forge --fix-dind cloudbuild gcr.io/cloud-builders/docker build testdata/actions/dockerfile
      # See https://cloud.google.com/build/docs/configuring-builds/run-bash-scripts.
      - name: Run forge cloudbuild --script noshebang
        run: |
          forge cloudbuild alpine --script testdata/cloudbuild/scripts/sh
      - name: Run forge cloudbuild --script bash
        run: |
          forge cloudbuild bash --script testdata/cloudbuild/scripts/bash
      - name: Run forge cloudbuild --script node
        run: |
          forge cloudbuild node:20 --script testdata/cloudbuild/scripts/node
      # See https://cloud.google.com/build/docs/building/build-containers.
      - name: Run forge cloudbuild docker
        run: |
          forge cloudbuild gcr.io/cloud-builders/docker build testdata/actions/dockerfile
      - name: Run forge use remote
        run: forge use frantjc/forge/testdata/actions/docker@${{ github.sha }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Run forge use local
        run: forge --no-dind use ./testdata/actions/node
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Run forge use dotdot
        run: |
          forge use frantjc/forge/testdata/actions/dotdot@${{ github.sha }}
      - name: Run forge use dockerfile
        run: forge use ./testdata/actions/dockerfile
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Run forge use .
        run: |
          cd ./testdata/actions/node
          forge use .
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Run forge use dind
        run: forge use frantjc/forge/testdata/actions/dind@${{ github.sha }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Run forge check resource
        run: forge --no-dind check mock -v version=v0.0.0
      - name: Run forge get resource
        run: forge get mock -v version=v0.0.0
      - name: Run forge put resource
        run: forge put mock -v version=v0.0.0 -p version=v0.0.0
      - run: forge cache --clean
