name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: yarn
          cache-dependency-path: .github/action/yarn.lock
      - uses: actions/setup-go@v4
        with:
          go-version: 1.21
          cache: true
      - uses: golangci/golangci-lint-action@v3.6.0
      - run: make download
      - run: make test
      - uses: goreleaser/goreleaser-action@v4
        with:
          install-only: true
      - uses: crazy-max/ghaction-upx@v2
        with:
          install-only: true
      - name: Run make install
        run: make INSTALL=install BIN=$RUNNER_TEMP
      - name: Set path
        run: echo $RUNNER_TEMP >> $GITHUB_PATH
      - uses: ./
        with:
          install: false
          get: mock
      - uses: ./
        with:
          install: false
          put: mock
          params: |
            version=0.0.0
      - name: Run forge use remote
        run: forge use frantjc/forge/testdata/actions/docker@${{ github.sha }}
      - name: Run forge use local
        run: forge use ./testdata/actions/node
      - name: Run forge use dockerfile
        run: forge use ./testdata/actions/dockerfile
      - name: Run forge check resource
        run: forge check mock -v version=v0.0.0
      - name: Run forge get resource
        run: forge get mock -v version=v0.0.0
      - name: Run forge put resource
        run: forge put mock -v version=v0.0.0 -p version=v0.0.0
      - run: forge cache --clean
