name: Mkdocs
on:
  push:
    branches:
      - main
    paths:
      - .github/actions/mkdocs/**
      - .github/workflows/mkdocs.yml
      - docs/**
      - mkdocs.yml
permissions:
  contents: write
jobs:
  mkdocs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/mkdocs
        env:
          GITHUB_TOKEN: ${{ github.token }}
